<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body style="background: #E5E5E5;">
    <div style="margin: 0 auto; width: 1200px; display: flex; justify-content: center;">
        <!-- Сама карточка -->
        <div class="card" style="width: 600px;">
            <div style="background: #0B65C6; height: 104px; display: flex; align-items: center; justify-content: center; background-image: url(../img/texture.png); background-position: 180px center; background-size: 100%; background-repeat: no-repeat;"><span style="font-family: 'Lato'; font-weight: 600; font-size: 32px; color: #fff;">Регистрация в</span>
            </div>
            <div style="background: #fff; padding-top: 32px; padding-left: 20px; padding-bottom: 38px; padding-right: 20px;">
                <span style="display: block; font-family: 'Lato'; font-weight: 500; font-size: 18px; color: #333333;">Здравствуйте!</span>
                <span style="display: block; font-family: 'Lato'; font-weight: 500; font-size: 18px; color: #333333; width: 560px; margin-top: 10px; margin-bottom: 30px;">Для того, чтобы подтвердить регистрацию нажмите на кнопку или перейдите по ссылке</span>
                <div style="display: flex; justify-content: center;">
                    <a style="display: flex; justify-content: center; align-items: center; background: #0B65C6; color: #fff; text-decoration: none; font-family: 'Lato'; font-size: 18px; width: 254px; height: 54px; border-radius: 5px;" href="{{ activate_url }}">Подтвердить регистрацию</a>
                </div>
                <a style="font-family: 'Lato'; font-size: 18px; font-weight: 500; color: #0B65C6; margin-top: 24px; display: block; text-decoration: none;" href="{{ activate_url }}">Ссылка для перехода на сайт</a>
                <span style="font-family: 'Lato'; font-size: 14px; font-weight: 400; color: #757575; display: block; margin-top: 34px;">С уважением,<br>Команда </span>
            </div>
        </div>
        <!-- конец карточки -->
    </div>
</body>
</html>